* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
}

header {
    width:100%;
    text-align:center;
    height: 150px;
    background-color: gray;
}


h2 {
    margin-bottom: 25px;
}

.logo-image{
    display: inline-block;
    margin: 0 auto;
    padding-top: 25px;
}

section {
    background-color: white;
    color: gray;
    font-weight: lighter;
    float: left;
}

#about-us-section{
    background-color: purple;
    min-width: 100%;
}

#about-us-header{
    position: relative;
    left: 50%;
    color: pink;
}

.about-us-info {
    display: inline;
    color: pink;
    position: relative;
    right: 20%;
}

section li {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: left;
}

a {
    
    text-decoration: none;
}

.footer-li{
    display: inline-block;
    margin: 10%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.mySlides {display: none;
}

.product-image {
    height: 100%;
    width: 25%;
   margin: 0px;
   float: right;
}

.product-image-left{
    height: 100%;
    width: 25%;
   margin: 0px;
   float: left;
   margin-right: 25%;
}

.footer-image{
    float: left;
}

.btn{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 20px;
}

button:hover{
    cursor: pointer;
}

footer{
    background-color: rgba(122, 122, 248);
    position: fixed;
    bottom: 0px;
    min-width: 100%;
    height: 100px;
}

#holder{
    background-color: white;
    height: 100px;
    min-width: 100%;
}

