* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    box-sizing: border-box;
    max-width: 100%;
}

html {
    overflow-x:hidden;
}
header {
    width:100%;
    text-align:center;
    height: 150px;
    background-color: gray;
}


h2 {
    margin-bottom: 25px;
}

.logo-image{
    display: inline-block;
    margin: 0 auto;
    padding-top: 25px;
}

section {
    background-color: white;
    color: gray;
    font-weight: lighter;
    float: left;
}


#about-us-section{
    background-color: gray;
    min-width: 100%;
}

#about-us-header{
    position: relative;
    right: 25%;
    color: white;
    margin-top: 25px;
}

.about-us-info {
    display: inline;
    color: white;
    position: relative;
    font-size: larger;
    word-wrap: break-word;
    right: 15em;
}

section li {
    margin-bottom: 30px;
    font-size: 20px;
    text-align: left;
    position: relative;
}

a {
    
    text-decoration: none;
}

.footer-li{
    display: inline-block;
    margin: 10%;
    margin-top: 30px;
    margin-bottom: 50px;
}

.product-image {
    display: inline-block;
    position: static;
    height: auto;
    width: 25%;
   margin-right: -4px;
}

.product-image-left{
    height: 100%;
    width: 25%;
   margin: 0px;
   float: left;
   position: relative;
   top: 0;
   margin-right: 25%;
}

.footer-image{
    float: left;
}

.btn{
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    margin: 20px;
    border-radius: 10%;
    width: 50px;
}

button:hover{
    cursor: pointer;
}

footer{
    background-color: rgba(122, 122, 248);
    position: fixed;
    bottom: 0px;
    min-width: 100%;
    height: 75px;
}

#holder{
    background-color: white;
    height: 75px;
    min-width: 100%;
}

